/*  Source 
	http://callmenick.com/2014/05/13/css-toggle-switch-examples/
*/
/* ============================================================
  COMMON
============================================================ */
.cmn-toggle {
  position: absolute;  
  margin-left: -9999px;  
  visibility: hidden;
}
.cmn-toggle + label {    
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ============================================================
  SWITCH 3 - YES NO
============================================================ */

input.cmn-toggle-yes-no + label {           
  height: 30px;
  width: 30px;
}

input.cmn-toggle-yes-no + label:before, input.cmn-toggle-yes-no + label:after {
  display: block;
  position: absolute;
  border:0px solid #87969C;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*color: white;*/
  font-family: Consolas, sans-serif;
  font-size: 18px;    
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  vertical-align: bottom;
  /*line-height: 21px;*/
  -webkit-border-radius: 4px;    
   border-radius: 4px;
}
input.cmn-toggle-yes-no + label:before {
  /*top:4px;*/
  /*background-color: #9180A4;*//*kind of violet*/
  content: url("../img/process_off.png");/*attr(data-off);*/
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
input.cmn-toggle-yes-no + label:after {    
  /*background-color: #C0A0A0;*/
  content: url("../img/process_on.png");/*attr(data-on);*/  
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
input.cmn-toggle-yes-no:checked + label:before {   
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
input.cmn-toggle-yes-no:checked + label:after {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
}
